{% extends 'base.html.twig' %}

{% block title %}Navire{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Mon petit bateau</h1>
    <div class="container-fluid mt-3">
        
    </div>
{% endblock %}
